#Data Types and Structures Questions

1. What are data structures, and why are they important?
- they are way of organizing data and storing it so that it can be accessed and used efficiently.and they are important because storing data in different types like list, tuples, strings, and dictionaries..etc. makes it access faster and process quickly when needed.

2. Explain the difference between mutable and immutable data types with examples.
- mutable - list, dictionary, set (which can be modified once created)
- immutable - tuple, frozenset, string (which cannot be modified once created).

3. What are the main differences between lists and tuples in Python?
- list can be modified(mutable) can add or delete values once created.
- tuple cannot be modified(immutable) cannot add or delete values once created.

4. Describe how dictionaries store data.
- they store data in key-value pairs as key is a hashed value.

5. Why might you use a set instead of a list in Python?
- set contains unique and unordered elements which won't allow duplicate values into it. but, list allows duplicates and ordered so we can iterate over it for any type of operations.

6. What is a string in Python, and how is it different from a list?
- it is a series of characters which is used to define a data type, it is a form of iterating element to help us store the sequence of character and list is a container of elements.

7. How do tuples ensure data integrity in Python?
-  as tuples are immutable so it maintain data integrity and it is hashed and it does not contain dynamic memory allocation like list.

8. What is a hash table, and how does it relate to dictionaries in Python?
- it is data structure to store the key- value pairs as been used for very fast fetching of values when provided with the key in the hash function similarly we have key value pair in the dictionary as well where we provide key as a index to the dictionary object and we return the value but this the slow process.

9. Can lists contain different data types in Python?
- yes, lists can contain different data types.

10. Explain why strings are immutable in Python.
- strings are immutable in nature because it ensures data safety, and makes it hashable to be used as keys in dictionaries and strings makes the perfomance faster because immutable objects are optimized internally by python.

11. What advantages do dictionaries offer over lists for certain tasks?
- dictionaries offer key-value pairs over lists which are more easier while searching the values instead of searching the index like a list.

12. Describe a scenario where using a tuple would be preferable over a list.
- when we don't want the data to be modified or the data should be consistent and the time complexity of tuple is lesser compared to list so we can prefer tuple over a list at these particular times.

13. How do sets handle duplicate values in Python?
- sets are built with hash function like dictionaries and it checks with the hash value if it exists it ignores the value so sets have the nature to handle and remove duplicates in it.

14. How does the in keyword work differently for lists and dictionaries?
- the 'in' keyword used for membership operations but it works differently for both list and dictionaries
- lists: it checks for values
- dictionaries: it checks for keys

15. Can you modify the elements of a tuple? Explain why or why not.
- no, we can't modify the elements in a tuple becuase they are hashed values and tuple is an immutable data structure in python.

16. What is a nested dictionary? Give an example of its use case.
- a nested dictionary is nothing but a dictionary inside a dictionary
- for ex: student_data={"aman":{'age':23, "section": "A"},"gaurav":{"age":23,"section":"B"}}
- in here the nested dictionary contains 2 persons data.

17. Describe the time complexity of accessing elements in a dictionary.
- the time complexity of accessing elements in dictionary is O(1) because dictionary contains a hash table when dictionary is used it directly searches the hash value of that particular value in the memory and gives it.

18. In what situations are lists preferred over dictionaries?
- where we don't want key-value pairs and when we wanted to use slicing and duplicate values insertion.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- dictionaries are not unordered at now , it was before python version 3.6 after this dictioanries became ordered.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- list can retrieved using indices and dictionaries can be retrieved using key

#Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
p="B pavan kumar"
print(p)

B pavan kumar

2. Write a code to find the length of the string "Hello World".

In [ ]:
s="Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s="Python Programming"
print(s[3:])

hon Programming

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
u="hello"
print(u.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s= "I like apple"
print(s.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers from 1 to 5 and print it.

In [ ]:
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l=[1,2,3,4,5]
l.pop(2)
print(l)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l= ['a', 'b', 'c', 'd']
print(l[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
r=[10, 20, 30, 40, 50]
s=[]
for i in r:
  s.insert(0,i)
print(s)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
n=(100,200,300)
t=[100,200,300]
t=tuple(n)
print(n)
print(t)

(100, 200, 300)
(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t=('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [113]:
t= (10, 20, 5, 15)
min_val=t[0]
for i in t:
  if i<min_val:
    min_val=i
print(min_val)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [114]:
t=('dog', 'cat', 'rabbit')
print(t.index("cat"))
for i in t:
  if i=='cat':
    print(t.index(i))

1
1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [115]:
t=('apple','kiwi','mango')
if 'kiwi' in t:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [116]:
s={'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [117]:
s={1,2,3,4,5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [118]:
s={1,2,3,4}
s.discard(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [119]:
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [120]:
s1={1,2,3}
s2={2,3,4}
s1.intersection(s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [121]:
d={"name":"pavan", "age":23, "city":"ohio"}
print(d)

{'name': 'pavan', 'age': 23, 'city': 'ohio'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [122]:
d={'name': 'John', 'age': 25}
d.update({"country":"USA"})
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [123]:
d={'name': 'Alice', 'age': 30}
print(d["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [124]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [125]:
d={'name': 'Alice', 'city': 'Paris'}
if 'city' in d.keys():
  print(d['city'] )

Paris

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [126]:
l=[1,2,3,4]
t=(1,2,3,4)
d={'name': 'Alice', 'city': 'Paris'}
print(l)
print(t)
print(d)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Alice', 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [127]:
import random
l=[]
i=1
while i<=5:
  l.append(random.randrange(1,101))
  i+=1
l.sort()
print(l)

[22, 59, 67, 72, 73]

28. Write a code to create a list with strings and print the element at the third index.

In [128]:
l=["str1","str2","str3","str4"]
print(l[3])

str4

29. Write a code to combine two dictionaries into one and print the result.

In [129]:
dict1={"a":"python","b":"java"}
dict2={"c":"c++","d":"doctor"}
dict3=dict1|dict2
print(dict3)

{'a': 'python', 'b': 'java', 'c': 'c++', 'd': 'doctor'}

30. Write a code to convert a list of strings into a set.

In [130]:
l=["str1","str2","str3","str4","str2","str3","str2","str4","str1","str2","str4","str3"]
s=set(l)
print(s)

{'str3', 'str4', 'str2', 'str1'}